extends base.pug

block prepend title
	- title = "Capture Bot"

block contents
	.row
		.col-md-8
			.page-header
				h1 Printing in progress!
			p Your card is printing, please allow 5 minutes, otherwise contact @systems, do not reprint.
		.col-md-4.example
